.cart {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.cart-header {
  position: fixed;
  height: 10vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-empty {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cart-empty svg {
  width: 7em;
  height: 7em;
  fill: rgba(0, 0, 0, 0.3);
}

.cart-empty span {
  font-size: 2rem;
  letter-spacing: 0.1em;
  color: rgba(0, 0, 0, 0.3);
}

.cart-products {
  width: 100%;
  min-height: 70vh;
  padding: 1.2em;
  position: fixed;
  top: 8vh;
  bottom: 15vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow-y: scroll;
}

.cart-products::-webkit-scrollbar {
  background: transparent;
  width: 10px;
}

.cart-products::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.9);
  border-radius: 4px;
}

.cart-options {
  width: 100%;
  position: fixed;
  bottom: 0px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  background: white;
}

.cart-options-total {
  display: flex;
  justify-content: space-evenly;
  padding: 0.8em;
  font-size: 1.2rem;
  font-weight: bold;
}

.cart-options-pay {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 1em;
}

.cart-options-pay button {
  width: 80%;
  padding: 10px;
  background: rgba(0, 0, 0, 0.9);
  color: white;
  letter-spacing: 0.1em;
  font-size: 1.2rem;
  border: none;
  outline: none;
  border-radius: 8px;
  cursor: pointer;
}
