.product-card {
  width: 95%;
  padding: 0.5em;
  margin: 0 0.2em 0.5em 0;
  cursor: pointer;
}

.product-card-image {
  background: rgba(196, 196, 196, 0.1);
  width: 100%;
  height: 200px;
  margin-bottom: 1em;
  padding: 0.8em;
  border-radius: 6px;
  transition: all 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-card-image img {
  max-width: 100%;
  max-height: 100%;
}

.product-card:hover .product-card-image {
  background: rgba(196, 196, 196, 0.2);
}

.product-card-info-price {
  margin-top: 0.5em;
}

.product-card-info-price strong {
  color: rgba(249, 159, 8, 1);
}

@media (min-width: 550px) {
  .product-card {
    width: 200px;
  }
}
