.categories-list {
  width: 20%;
  display: none;
  flex-direction: column;

  hr {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    margin: 10px 0 20px 0;
  }

  span {
    margin-bottom: 10px;
    cursor: pointer;
  }

  span:hover {
    font-weight: bold;
  }

  .active-category {
    font-weight: bold;
  }
}
